main {
    width: 100%;
    margin: auto;
    color: white;
}

.parrafos {
    font-size: 18px;
    margin-left: 15%;
    margin-top: 5%;
    line-height: 35px;
    padding-left: 10%;
    padding-right: 10%;
    margin-right: 15%;
    padding-top: 1em;
    background-color: rgb(36, 51, 133);
    color: white;
}

a {
    color: white;
}

a:hover{
    text-decoration: underline;
}

#certificados{
    background-color: rgb(168, 183, 255);
    border: 0;
    color: rgb(36, 51, 133);
    width: 15em;
    height: 3em;
    font-weight: 600;
    font-size: 18px;
    border-radius: 15px;
    margin-bottom: 10%;
    margin-left: 35%;
}

#certificados:hover {
    cursor: pointer;
    border: 3px solid rgb(255, 255, 255);
}

hr {
    margin-bottom: 5%;
}